.md-list.md-double-line .md-list-item .md-list-item-container{
    min-height: inherit;
}
.md-theme-default.md-toolbar{
    background-color: deepskyblue;
}
.md-theme-default.md-bottom-bar.md-fixed{
    background-color: rgb(84, 84, 84);
}
.md-theme-default.md-bottom-bar.md-fixed .md-bottom-bar-item{
    color:white;
}
.hidden
{
   display: none
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
/*
    background: rgba( 255, 255, 255, .8 )
                url('/img/ajax-loader.gif')
                50% 50%
                no-repeat;
*/
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
#loading {
    -webkit-animation: rotation 2s infinite linear;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

h3{
  line-height: 39px !important;
}
h4{
  margin-bottom: 8px;
}

.md-layout-header{
    position: fixed;
    z-index: 130;
    width: 100%;
}
.md-layout-header{
  top: 48px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 5px 15px;
  background-color: #ffffff;
}

.md-list {
    padding: 0px 0px !important;
    list-style-type: none !important;;
    margin: 0px !important;;
}
.md-list-item-container{
    min-height: 78px !important;
}
.md-list .md-list-item:nth-child(even) {
    background-color: #efefef;
}
.md-list-text-container{
    overflow: hidden;
   display: flow-root;
}
.md-list-text-container span{
  display: block !important;
  color: #5d5d5d !important;
}
.md-list-text-container .list-rate{
  display: block !important;
  color: #2b8ff9 !important;
}
